/* FooterNav.module.css */
/* FooterNav.module.css */
.footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: hsla(0, 0%, 19%, 0.883);
    text-align: center;
    height: 13vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }

ul {
    list-style: none;
    display: flex; /* Esto hace que los elementos <li> se muestren en línea */
    justify-content: center; /* Centra las imágenes horizontalmente */
    padding: 0;
    margin: 0;
  }
  
  li {
    margin: 0 30px; /* Da un espacio entre las imágenes */
  }
  
  .imgNav {
    width: 50px; /* Ajusta el tamaño de la imagen según sea necesario */
    height: 50px; /* Ajusta el tamaño de la imagen según sea necesario */
  }
  